<!-- <form>
  <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
  <input type="number" id="number" value="0" />
  <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
</form> -->
<!-- <div class = "counter" fxLsyoutAlign="center">
    <h4> <span id="count">0</span></h4>
    <div class="container">
        <button onclick="document.getElementById('count').innerText--">+</button>
        <button onclick="document.getElementById('count').innerText++">-</button>
    </div>
</div> -->
<div class="  circle decreaseQty" fxLayoutAlign="center">
    <button onclick="document.getElementById('count').innerText++">+</button>
</div>
<div>
    <h4> <span id="count">1</span></h4>
</div>
<div fxLayoutAlign="center" class=" circle IncreaseQty">
    <button onclick="document.getElementById('count').innerText--">-</button>
</div>