.header{
    background-color: #A03037;
    height: 60px;
    width:100%;
    
}
.headerContent{
    height: 60px;
    display: flex;
    align-items: center;
    // margin-left: 11%;
}
.bookImg{
    width: 25px;
    margin-left: 2%;
    cursor: pointer;
}
.bookText{
    font-size: 15px;
    color: #FFFFFF;
    padding: 20px 10px 0px 9px;
}
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 5px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
}
.searchInput {
    width: 100px;
    height: 33px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    outline: none;
    border: transparent;
}
.rightSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}
.rightSection2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}
.headerButton {
    color:#FCFCFC;
    cursor: pointer;
    background : #A03037
}

::ng-deep.mat-badge-content{
    background : #FFFFFF;
    color: #A03037;
}

::ng-deep.mat-menu-content:not(:empty){
    width:150px !important;
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
}

.host ::ng-deep.mat-menu-panel {
    max-width:fit-content !important;
}

.profileMenu{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
}

::ng-deep.mat-stroked-button{
    border: 1px solid #A03037;
    border-radius: 2px;
}

@media only screen and (min-width: 768px){
    .bookImg{
    width: 30px;
    margin-left: 5%;
}
.bookText{
    font-size: 20px;
    margin-right: 20px;
  
}

.searchInput {
    width: 300px;
   
}
}

@media only screen and (min-width: 1200px){


.headerContent{

    margin-left: 11%;
}

.bookImg{
    height: 24px;
    margin-left: 6%;
    cursor: pointer;
}

.bookText{
    margin: 0;
    color: #FFFFFF;
    padding: 0px 45px 0px 9px;
}



.searchInput {
    width: 490px;
  
}

.rightSection{
    margin-left: 14%;
}



::ng-deep.mat-badge-content{
    background : #FFFFFF;
    color: #A03037;
}

::ng-deep.mat-menu-content:not(:empty){
    width:150px !important;
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
}

.host ::ng-deep.mat-menu-panel {
    max-width:fit-content !important;
}

.profileMenu{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 5px;
}

::ng-deep.mat-stroked-button{
    border: 1px solid #A03037;
    border-radius: 2px;
}
}

@media (max-width: 1024px){


}

