<!-- <p>registration works!</p> -->
<div class="page">
    <div class="iconBlock">
        <img src="../../../assets/2766594.png">
        <h2 class="text">ONLINE BOOK SHOPPING</h2>
    </div>
    <div class="loginBlock">
        <div class="header">
            <a class="log" routerLink="login"><h2>LOGIN</h2></a> 
            <a class="log"routerLink="sign-up">
                <h2>SIGNUP</h2>
            </a>
            
        </div>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
